<a href="https://colab.research.google.com/github/harutmark/py101/blob/main/py101/lesson_3/py101_lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101, Lesson 3: Practice Problems

## Easy 2

### Question 1
Write two distinct ways of reversing the list without mutating the original list.
```python
numbers = [1, 2, 3, 4, 5]     # [5, 4, 3, 2, 1]
```

In [ ]:
numbers = [1, 2, 3, 4, 5]
srebmun_1 = numbers[::-1]
srebmun_2 = list(reversed(numbers))

print(numbers)
print(srebmun_1)
print(srebmun_2)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

### Question 2
Given a number and a list, determine whether the number is included in the list.
```python
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)
```

In [ ]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

print(number1 in numbers)
print(number2 in numbers)

False
True

### Question 3
Programmatically determine whether 42 lies between 10 and 100, inclusive. Do the same for the values 100 and 101.

In [ ]:
print(42 in range(10, 101))          # True
print(100 in range(10, 101))         # True
print(101 in range(10, 101))         # False

True
True
False

### Question 4
Given a list of numbers [1, 2, 3, 4, 5], mutate the list by removing the number at index 2, so that the list becomes [1, 2, 4, 5].

In [ ]:
my_list = list(range(1, 6))
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

In [ ]:
numbers = [1, 2, 3, 4, 5]
del numbers[2]
print(numbers)  # [1, 2, 4, 5]

[1, 2, 4, 5]

### Question 5
How would you verify whether the data structures assigned to the variables numbers and table are of type list?

In [ ]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(type(numbers))
print(type(table))

print(isinstance(numbers, list))
print(isinstance(table, list))

<class 'list'>
<class 'dict'>
True
False

### Question 6
Back in the stone age (before CSS), we used spaces to align things on the screen. If we have a 40-character wide table of Flintstone family members, how can we center the following title above the table with spaces?

In [ ]:
title = "Flintstone Family Members"
centered_title = (((40 - len(title)) // 2) * " ") + title
print(centered_title)
print("F" * 40)

       Flintstone Family Members
FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF

In [ ]:
centered_title = title.center(40)
print(centered_title)
print('F' * 40)

       Flintstone Family Members
FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF

### Question 7
Write a one-liner to count the number of lower-case t characters in each of the following strings:

In [ ]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

print(statement1.count('t'))
print(statement2.count('t'))

2
0

### Question 8
Determine whether the following dictionary of people and their age contains an entry for 'Spot':

In [ ]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 402, 'Eddie': 10}

print('Spot' in ages)

False

### Question 9
We have most of the Munster family in our ages dictionary:
```python
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}
```
Add entries for Marilyn and Spot to the dictionary:
```
additional_ages = {'Marilyn': 22, 'Spot': 237}
```

In [ ]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}
additional_ages = {'Marilyn': 22, 'Spot': 237}

ages.update(additional_ages)
print(ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}

## Practice Problems: Easy 3

### Question 1
Write two different ways to remove all of the elements from the following list:

In [ ]:
numbers = [1, 2, 3, 4]
numbers.clear()
print(numbers)

numbers = [1, 2, 3, 4]
numbers = numbers[0:0]
print(numbers)

numbers = [1, 2, 3, 4]
while numbers:
    numbers.pop()
print(numbers)

[]
[]
[]

### Question 2
What will the following code output?

In [ ]:
print([1, 2, 3] + [4, 5])

[1, 2, 3, 4, 5]

In Python, you can use the + operator to concatenate two lists. This operation merges the second list into the first one, producing a new combined list.

### Question 3
What will the following code output?

In [ ]:
str1 = "hello there"
str2 = str1
str2 = "goodbye!"
print(str1)

hello there

### Question 4
What will the following code output?

In [ ]:
my_list1 = [{"first": "value1"}, {"second": "value2"}, 3, 4, 5]
my_list2 = my_list1.copy()
my_list2[0]['first'] = 42
print(my_list1)

.copy() makes a shallow copy, which makes a copy of normal items in a collection, but doesn't make a copy of any nested items in a collection. Since my_list[0:1] are nested dictionaries, python just makes another arrown (reference) to those dictionaries in the stack, it doesnt allocate new space for anothe copy of the nested objects in the stack.

### Question 5
The following function unnecessarily uses two return statements to return boolean values. Can you rewrite this function so it only has one return statement and does not explicitly use either True or False?
```python
def is_color_valid(color):
    if color == "blue" or color == "green":
        return True
    else:
        return False
```
Try to come up with two different solutions.

In [ ]:
def is_color_valid(color):
    return color == "blue" or color == "green"

In [ ]:
def is_color_valid(color):
    return color in ["blue", "green"]

## Medium 1

### Question 1
Let's do some "ASCII Art": a stone-age form of nerd artwork from back in the days before computers had video screens.

For this practice problem, write a program that outputs The Flintstones Rock! 10 times, with each line prefixed by one more hyphen than the line above it. The output should start out like this:

```
-The Flintstones Rock!
--The Flintstones Rock!
---The Flintstones Rock!
    ...
```

In [ ]:
message = "The Flintstones Rock!"
for i in range(0,10):
    message = "-" + message
    print(message)

-The Flintstones Rock!
--The Flintstones Rock!
---The Flintstones Rock!
----The Flintstones Rock!
-----The Flintstones Rock!
------The Flintstones Rock!
-------The Flintstones Rock!
--------The Flintstones Rock!
---------The Flintstones Rock!
----------The Flintstones Rock!

In [ ]:
# LS Solution
for padding in range(1, 11):
    print(f'{"-" * padding}The Flintstones Rock!')

-The Flintstones Rock!
--The Flintstones Rock!
---The Flintstones Rock!
----The Flintstones Rock!
-----The Flintstones Rock!
------The Flintstones Rock!
-------The Flintstones Rock!
--------The Flintstones Rock!
---------The Flintstones Rock!
----------The Flintstones Rock!

### Question 2
Alan wrote the following function, which was intended to return all of the factors of number:

```python
def factors(number):
    divisor = number
    result = []
    while divisor != 0:
        if number % divisor == 0:
            result.append(number // divisor)
        divisor -= 1
    return result
```
Alyssa noticed that this code would fail when the input is a negative number, and asked Alan to change the loop. How can he make this work? Note that we're not looking to find the factors for negative numbers, but we want to handle it gracefully instead of going into an infinite loop.

In [ ]:
def factors(number):
    divisor = number
    result = []
    while divisor > 0:
        if number % divisor == 0:
            result.append(number // divisor)
        divisor -= 1
    if number <= 0:
        return ValueError
    return result

factors(15)

[1, 3, 5, 15]

#### Bonus Question: What is the purpose of number % divisor == 0 in that code?

It determines if the number is divisible by the divisors. Essentially, it is checking if the divisor is indeed a factor of number.

### Question 3
Alyssa was asked to write an implementation of a rolling buffer. You can add and remove elements from a rolling buffer. However, once the buffer becomes full, any new elements will displace the oldest elements in the buffer.

She wrote two implementations of the code for adding elements to the buffer:
```python
def add_to_rolling_buffer1(buffer, max_buffer_size, new_element):
    buffer.append(new_element)
    if len(buffer) > max_buffer_size:
        buffer.pop(0)
    return buffer

def add_to_rolling_buffer2(buffer, max_buffer_size, new_element):
    buffer = buffer + [new_element]
    if len(buffer) > max_buffer_size:
        buffer.pop(0)
    return buffer
```
Is there a difference between these implementations, other than the way she is adding an element to the buffer?

Yes, there is a difference. The first function (add_to_rolling_buffer1) mutates the original list represented by buffer. The second function (add_to_rolling_buffer2) does not mutate the original list, but instead creates a new list and assigns it to buffer, whose value ultimately gets returned by the function.

### Question 4
What will the following two lines of code output?

In [ ]:
print(0.3 + 0.6)
print(0.3 + 0.6 == 0.9)

0.8999999999999999
False

In [ ]:
import math

print(0.3 + 0.6)
print(0.3 + 0.6 == 0.9)
print(math.isclose(0.3 + 0.6, 0.9))

0.8999999999999999
False
True

### Question 5
What do you think the following code will output?

```python
nan_value = float("nan")

print(nan_value == float("nan"))
```

In [ ]:
nan_value = float("nan")

print(nan_value == float("nan"))

False

The output is False. nan -- not a number -- is a special numeric value that indicates that an operation that was intended to return a number failed. Python doesn't let you use == to determine whether a value is nan.

In [ ]:
# To test whether the value is nan, you can use the math.isnan() function

import math

nan_value = float("nan")

print(math.isnan(nan_value))

True

### Question 6
What is the output of the following code?

In [ ]:
answer = 42

def mess_with_it(some_number):
    return some_number + 8

new_answer = mess_with_it(answer)

print(answer - 8)

# Think variable scope

34

### Question 7
One day, Spot was playing with the Munster family's home computer, and he wrote a small program to mess with their demographic data:

```python
munsters = {
    "Herman": {"age": 32, "gender": "male"},
    "Lily": {"age": 30, "gender": "female"},
    "Grandpa": {"age": 402, "gender": "male"},
    "Eddie": {"age": 10, "gender": "male"},
    "Marilyn": {"age": 23, "gender": "female"},
}

def mess_with_demographics(demo_dict):
    for key, value in demo_dict.items():
        value["age"] += 42
        value["gender"] = "other"
```
After writing this function, he typed the following code:

```python
mess_with_demographics(munsters)
```
Before Grandpa could stop him, Spot hit the Enter key with his tail. Did the family's data get ransacked? Why or why not?

In [ ]:
munsters = {
    "Herman": {"age": 32, "gender": "male"},
    "Lily": {"age": 30, "gender": "female"},
    "Grandpa": {"age": 402, "gender": "male"},
    "Eddie": {"age": 10, "gender": "male"},
    "Marilyn": {"age": 23, "gender": "female"},
}

print (munsters)

def mess_with_demographics(demo_dict):
    for key, value in demo_dict.items():
        value["age"] += 42
        value["gender"] = "other"

mess_with_demographics(munsters)

print(munsters)

{'Herman': {'age': 32, 'gender': 'male'}, 'Lily': {'age': 30, 'gender': 'female'}, 'Grandpa': {'age': 402, 'gender': 'male'}, 'Eddie': {'age': 10, 'gender': 'male'}, 'Marilyn': {'age': 23, 'gender': 'female'}}
{'Herman': {'age': 74, 'gender': 'other'}, 'Lily': {'age': 72, 'gender': 'other'}, 'Grandpa': {'age': 444, 'gender': 'other'}, 'Eddie': {'age': 52, 'gender': 'other'}, 'Marilyn': {'age': 65, 'gender': 'other'}}

Spot will find himself in the "dog house" for this one. The family's data is in shambles now.

Why? In Python, dictionaries are mutable, and when passed to a function, a reference to the dictionary is passed, not a copy. Thus, Spot's demo_dict starts off pointing to the munsters object. As a result, the changes made within the function directly affect the munsters dictionary. The key aspect here is that the nested dictionaries (the individual family members' data) are the ones being mutated. Each family member's dictionary ({"age": x, "gender": y}) is accessed and modified. Since these nested dictionaries are part of the larger munsters dictionary, the changes are reflected in the original data structure.

His program could replace that with some other object, and the family's data would be safe. However, in this case, the program doesn't reassign demo_dict; it just uses it, as-is. Thus, the object that gets changed by the function is the munsters object.

### Question 9
Consider these two simple functions:

``` python
def foo(param="no"):
    return "yes"

def bar(param="no"):
    return (param == "no") and (foo() or "no")
```
What will the following function invocation return?

```
bar(foo())
```

In [ ]:
def foo(param="no"):
    return "yes"

def bar(param="no"):
    return (param == "no") and (foo() or "no")

print(bar(foo()))

False

When bar(foo()) is called, the foo function is executed first, returning "yes". This return value ("yes") is then passed as the argument to the bar function. In bar, the parameter param is now "yes". The expression (param == "no") and (foo() or "no") is evaluated as follows:

* param == "no" evaluates to False since param is "yes".
* Due to the and operator, (foo() or "no") is not executed since the first part of the and expression is already False.
* Since the left side of the and is False, Python returns False.

### Question 10
In Python, every object has a unique identifier that can be accessed using the id() function. This function returns the identity of an object, which is guaranteed to be unique for the object's lifetime. For certain basic immutable data types like short strings or integers, Python might reuse the memory address for objects with the same value. This is known as "interning".

Given the following code, predict the output:

In [ ]:
a = 42
b = 42
c = a

print(id(a) == id(b) == id(c))

True

The output is True.

Here, a and c reference the same object in memory, so their ids are the same. b will, in this case, have the same id as a and c due to interning. Therefore, the code will output True.

In Python, there's a predefined range of integers, specifically from -5 to 256, for which memory locations are pre-assigned. When you reference an integer within this span, Python consistently points to the same memory spot. This strategy enhances efficiency since these particular numbers are commonly utilized in many programming scenarios.

However, when you work with integers outside of this specific range, Python doesn't assure that it will consistently point to the same memory address for identical values across different variables.

## Hard 1

### Question 1
Will the following functions return the same results?

In [ ]:
def first():
    return {
        'prop1': "hi there",
    }

def second():
    return
    {
        'prop1': "hi there",
    }

print(first())
print(second())

{'prop1': 'hi there'}
None

In Python, if there's nothing after a return statement, the function will return None. The indented block after the return statement in second function is unreachable and doesn't affect the return value.

### Question 2
What does the last line in the following code output?

In [ ]:
dictionary = {'first': [1]}
num_list = dictionary['first']
num_list.append(2)

print(num_list)
print(dictionary)

[1, 2]
{'first': [1, 2]}

Since num_list is a reference to the original list in dictionary, appending to num_list modifies the list. Thus, the original dictionary is also updated.

In [ ]:
dictionary = {"first": [1]}
num_list = dictionary["first"].copy()
num_list.append(2)

print(num_list)
print(dictionary)

[1, 2]
{'first': [1]}

### Question 3
Given the following similar sets of code, what will each code snippet print?

In [ ]:
def mess_with_vars(one, two, three):
    one = two
    two = three
    three = one

one = ["one"]
two = ["two"]
three = ["three"]

mess_with_vars(one, two, three)

print(f"one is: {one}")
print(f"two is: {two}")
print(f"three is: {three}")

one is: ['one']
two is: ['two']
three is: ['three']

In [ ]:
def mess_with_vars(one, two, three):
    one = ["two"]
    two = ["three"]
    three = ["one"]

one = ["one"]
two = ["two"]
three = ["three"]

mess_with_vars(one, two, three)

print(f"one is: {one}")
print(f"two is: {two}")
print(f"three is: {three}")

one is: ['one']
two is: ['two']
three is: ['three']

In [ ]:
def mess_with_vars(one, two, three):
    one[0] = "two"
    two[0] = "three"
    three[0] = "one"

one = ["one"]
two = ["two"]
three = ["three"]

mess_with_vars(one, two, three)

print(f"one is: {one}")
print(f"two is: {two}")
print(f"three is: {three}")

one is: ['two']
two is: ['three']
three is: ['one']

A and B don't change it because we are messing with local vs global scope.

However, C is changes because lists are mutable and in C, we are mutating the lists, not reassigning.

### Question 4
Ben was tasked to write a simple Python function to determine whether an input string is an IP address using 4 dot-separated numbers, e.g., 10.4.5.11.

Alyssa supplied Ben with a function named is_an_ip_number. It determines whether a string is a numeric string between 0 and 255 as required for IP numbers and asked Ben to use it. Here's the code that Ben wrote:

```python
def is_dot_separated_ip_address(input_string):
    dot_separated_words = input_string.split(".")
    while len(dot_separated_words) > 0:
        word = dot_separated_words.pop()
        if not is_an_ip_number(word):
            break

    return True
```
Alyssa reviewed Ben's code and said, "It's a good start, but you missed a few things. You're not returning a false condition, and you're not handling the case when the input string has more or less than 4 components, e.g., 4.5.5 or 1.2.3.4.5: both those values should be invalid."

Help Ben fix his code.

In [ ]:
def is_an_ip_number(str):
    if str.isdigit():
        number = int(str)
        return 0 <= number <= 255
    return False

def is_dot_separated_ip_address(input_string):
    dot_separated_words = input_string.split(".")
    while len(dot_separated_words) == 4:
        for word in dot_separated_words:
            if not is_an_ip_number(word):
                return False
        return True
    return False

print(is_dot_separated_ip_address("192.168.1.1"))          # Expected: True
print(is_dot_separated_ip_address("255.255.255.255"))      # Expected: True
print(is_dot_separated_ip_address("0.0.0.0"))              # Expected: True
print(is_dot_separated_ip_address("1.2.3.4"))              # Expected: True
print(is_dot_separated_ip_address("127.0.0.1"))            # Expected: True
print(is_dot_separated_ip_address("192.168.0.256"))        # Expected: False (256 is out of range)
print(is_dot_separated_ip_address("192.168.1"))            # Expected: False (only 3 parts)
print(is_dot_separated_ip_address("192.168.1.1.1"))        # Expected: False (5 parts)
print(is_dot_separated_ip_address("192.168.one.1"))        # Expected: False (non-numeric part)
print(is_dot_separated_ip_address("192.168.-1.1"))         # Expected: False (negative number)
print(is_dot_separated_ip_address("192.168.1.01"))         # Expected: True (leading zero is allowed in Python's `int` conversion)
print(is_dot_separated_ip_address("256.256.256.256"))      # Expected: False (all parts out of range)
print(is_dot_separated_ip_address("192.168.1. "))          # Expected: False (trailing space in a part)
print(is_dot_separated_ip_address("192..168.1.1"))         # Expected: False (empty part between dots)
print(is_dot_separated_ip_address(""))                     # Expected: False (empty string)
print(is_dot_separated_ip_address("192.168.1.1 "))         # Expected: False (trailing space in the IP)
print(is_dot_separated_ip_address(" 192.168.1.1"))         # Expected: False (leading space in the IP)
print(is_dot_separated_ip_address("192,168,1,1"))          # Expected: False (commas instead of dots)
print(is_dot_separated_ip_address("192.168.1.1.0"))        # Expected: False (5 parts)
print(is_dot_separated_ip_address("192.168.1"))            # Expected: False (only 3 parts)

True
True
True
True
True
False
False
False
False
False
True
False
False
False
False
False
False
False
False
False

### Question 5
What do you expect to happen when the greeting variable is referenced in the last line of the code below?

In [ ]:
if False:
    greeting = "hello world"

print(greeting)

NameError: name 'greeting' is not defined

In Python, referencing an uninitialized variable will result in a NameError being raised. This is because the if block is not executed due to the False condition, and hence, the greeting variable is never initialized.